{% extends 'base_sy.html' %}
{% block content %}

{% load staticfiles %}
<style>
    body {
    background-color: #f5f8fa;
    }
    section {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
    }
    section > section {
    object-fit: contain;
    width: 1110px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    .about {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>
<section>
    <section>
        <img src="{% static 'about.jpg' %}" class ="about">
    </section>
</section>
{% endblock %}