{% extends 'base_sj.html' %}
{% block content %}

{% load staticfiles %}
<style>
    body {
        background-color: #f5f8fa;
    }
    section{
        padding: 0rem 0rem 0rem 0rem;
        background: none;
        position: relative;
    }
    .about {
        width: 100%;
        margin: 3.125rem 0rem 3.125rem 0rem;
    }
</style>

<div class="container">
<!--03)인비저블이 사용하는 서버는?-->
<!--(1)김서버-(2)aws EC2서버-(3)박서버-->

    <img src="{% static 'img/about.jpg' %}" class ="about">
</div>
  
{% endblock %}