{% extends 'base_sj.html' %}
{% block content %}

{% load staticfiles %}
<style>
    body {
    background-color: #f5f8fa;
    }
    header {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
    }
    header > header {
    object-fit: contain;
    width: 1110px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    section{
        padding: 0rem 0rem 0rem 0rem;
        background: none;
        position: relative;
    }
    .hackathon_event {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin: 3.125rem 0rem 3.125rem 0rem;
    }
</style>
<div class="container">
    <img src="{% static 'img/hackathon_event.png' %}" class ="hackathon_event">
</div>
  

{% endblock %}