<br><br>

<h3> {{lec.lecture_id}} / {{lec.lecture_title}} / {{lec.lecture_company}}</h1>

<h1>url: {{lec.lecture_url}}</h1>

<hr>
<br>

<h2>특징 등록하기</h2>
<h3>무조건 두개씩 등록해야 합니다. 이외의 경우는 이슈로 던져주세요.</h3>
<!--강의 특징-->
<div>
    <form action="{% url 'save' %}">
        <h5>*강의특징</h5>
            <input type="hidden" value="{{lec.lecture_id}}" name="lecID">
            1.&nbsp;&nbsp;<select  name="lec_selec_1">
                {% for one in lec_feature.all %}
                    <option value="{{one.feature_id}}">
                        {{one.feature_name}}
                    </option> 
                {% endfor %}
            </select><br>
            2.&nbsp;&nbsp;<select  name="lec_selec_2">
                {% for one in lec_feature.all %}
                    <option value="{{one.feature_id}}">
                        {{one.feature_name}}
                    </option> 
                {% endfor %}
            </select><br>
        <br><input type="submit" value="저장"/>
    </form>
</div>

<br>
<!--선생님 특징-->
<div>
    <h5>*현재 선생님 특징 </h5>
    <h5>! 맞지 않다고 생각될 경우 이슈 남겨주세요 !</h5>
</div>
