<style>
    table {
            border: 1px solid #999;
            padding: 0.1em 1em;
        }
    th {
            border: 1px solid #999;
            padding: 0.1em 1em;
        }
</style>

<h1>특징 입력해 주세요</h1>
<h3>HI들 화이팅♡</h3>

<br><br>
<h5>강의 id / 강의제목 / 회사</h5>
        
<!--강의목록-->
<ol>
{% for lec in lec_list %}
    <li> 
        <a href="{% url 'detail' lec.lecture_id %}">
                {{lec.lecture_id}} / {{lec.lecture_title}} / {{lec.lecture_company}}
        </a>
    </li>    
{% endfor %}
</ol>  
</table>

