{% extends "base_categories.html" %}

{% load staticfiles %}

{% block styles %}
<style>

/* container above 
.category_boxes {
    margin-bottom: 3.4375rem;
    border-radius: 0.375rem;
}
*/
* {box-sizing: border-box;}
table {
    width: 100%;
    height: 350px;
    box-shadow: 10px 10px 30px 0 rgba(206, 206, 206, 0.52);
    border-radius: 6px;
    border-collapse: collapse;
    overflow: hidden;

    }

thead {
    background-color: #f5f8fa;
    height: 37px;
    font-family: SpoqaHanSans;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: -1.5px;
    text-align: left;
    color: #323232;
    padding: 9px 0;
    text-align: center;
    border: 1px solid #ffffff;
}

tbody {
    border: 1px solid #f5f8fa;

}
th {
    padding: 9px 0;
}

td {
    word-break:break-all;
}
ul {
    height: 95%;
    width: 100%;
    overflow-y: scroll;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -1.2px;
    text-align: left;
    color: #6e6e6e;
    word-wrap: break-all;
}

li {
    width: 175px;
}

label {
    display: inline-block;
    word-wrap: break-word;
    max-width: 98%;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.625rem;
  height: 4.6875rem;
}


::-webkit-scrollbar-track {
}
 

::-webkit-scrollbar-thumb {
  background: #dbf1ff;
  border-radius: 0.0625rem;
}


/* container below */
.controls {
    justify-content: space-between;
    padding-top: 3.4375rem;
    padding-bottom: 2.1875rem;
    align-items: baseline;
}

.lectures_in_total {
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: -1.5px;
    text-align: center;
    color: #000000;
}

.standards {
    justify-content: space-between;
    white-space: nowrap;
    align-items: baseline;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.96px;
    text-align: center;
    color: #323232;
}

.box {
    margin-bottom: 4.375rem;
    box-shadow: 0.625rem 0.625rem 1.875rem 0 rgba(206, 206, 206, 0.52);
    background-color: #ffffff;
    padding-bottom: 55px;
    width: 100%;
    border-radius: 6px;
}

.lecture_box {
    height: 100%;
    border: 1px solid black;
    object-fit: contain;
    opacity: 0.67;
    border: solid 1px #cecece;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 6px;
    }

.lecture_title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: -1.88px;
    text-align: left;
    color: #323232;
}

.lecture_text {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -1.13px;
    text-align: left;
    color: #6e6e6e;
}

.lecture_price {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.57;
    letter-spacing: -2.28px;
    text-align: right;
    color: #323232;
}
.lecture_box_liked {
    height: 11.75rem;
    object-fit: contain;
    opacity: 0.67;
    box-shadow: 0 5px 10px 0 #cecece;
    border: solid 1px #cecece;
    background-color: #f5f8fa;
}

.keyword_box {
  width: 4.6875rem;
  object-fit: contain;
  border-radius: 18px;
  border: solid 1px #1f95ff;
  background-color: #ffffff;
}


</style>
{% endblock styles %}

<script>
//    function abd(obj) {
//        console.log(obj.getAttribute("value"));
//        var sua;
//        sua=document.getElementByclass('cate1').value;
//        console.log(sua);
        
    }              
</script>

{% block content %}

<!--categories -->
    <div class="container category" style="border-radius:6px;">
        <div class="row justify-content-center">
            <div class="col-12" style="padding: 0;">
                <form action="{% url 'categoryresult' %}" method="POST">
                    {% csrf_token %}
                    <table class="categories">
                        <thead class="cate_classification">
                            <tr>
                                <th>category1</th>
                                <th>category2</th>
                                <th>category3</th>
                                <th>category4</th>
                                <th>category5</th>
                            </tr>
                        </thead>
                        <tbody class="cate_items" style="background-color: #ffffff;">
                            <tr>
                                <td class="category1" style="">
                                    <ul style="list-style-type: none;">
                                        {% for category in cate1_list %}
                                            {% for cate in category.values %}
                                                <li><input type="radio" id="{{ cate }}" onclick="abd()" name="cate1" value="{{cate}}" ><label for="{{ cate }}">{{cate}}</label></li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="category2" style="">
                                    <ul style="list-style-type: none;">
                                        {% for category in cate2_list %}
                                            {% for cate in category.values %}
                                                <li><input id="{{ cate }}" type="radio" name="cate2"  value="{{cate}}"><label for="{{ cate }}">{{cate}}</label></li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="category3" style="">
                                    <ul style="list-style-type: none;">
                                        {% for category in cate3_list %}
                                            {% for cate in category.values %}
                                                <li><input id="{{ cate }}" type="radio" name="cate3"  value="{{cate}}"><label for="{{cate}}">{{ cate }}</label></li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="category4" style="">
                                    <ul style="list-style-type: none;">
                                        {% for category in cate4_list %}
                                            {% for cate in category.values %}
                                                <li><input id="{{ cate }}" type="radio" name="cate4" value="{{cate}}"><label for="{{ cate }}">{{ cate }}</label></li>
                                            {% endfor%}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="category5" style="">
                                    <ul style="list-style-type: none;">
                                        {% for category in cate5_list %}
                                            {% for cate in category.values %}
                                                <li><input id="{{ cate }}" type="radio" name="cate5" value="{{cate}}" ><label for="{{cate}}">{{ cate }}</label></li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" style="height: 2.5rem; margin: 2rem 0;">
                        <div class="col-8">
                        </div>
                        <div class="col-4" style="text-align: right; padding: 0;">
                            <!--input type="hidden" value="${list}"-->
                            <input class="btn" type="submit" style="background-color:#1f95ff" value="찾아보기" style="border: none; border-color: transparent; border-radius: 6px; background-color: #1f95ff; text-align: center; width: 100%; padding: 2rem 0;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- category container ends -->

<!-- boxes -->
    <div class="container box">
    <!-- controls -->
        <div class="row controls justify-content-center">
            <div class="col-2">
                <span class="lectures_in_total">총 {{ lec_name|length }}건의 강의</span>
            </div>
            <div class="col-5">
            </div>
            <div class="col-3 standards" style="display: flex; justify-content: space-between;">
                <span>낮은 가격순</span>
                <span>높은 가격순</span>
                <span>조회수순</span>
            </div>
        </div>
    <!------------------------------------------------- for문 ----------------------------------------------------------->
    {% for lec_name in lec_list %}
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="lecture_box"> {% comment %} OnClick="location.href ='{% url 'detail' pk=item.pk %}' style="cursor:pointer;" {% endcomment %}
                    <div class="row" style="padding-top:1.2rem; height:37px; overflow: visible; ">
                        <div class="col-1" style="padding-left:2rem; vertical-align:top;">
                            <img class="download" src="{% static 'img/ebs.png' %}" style="width: 65px; height: 65px;">
                        </div>
                        <div class="col-9" style="padding-left:2rem;">
                            <span class="lecture_title">{{ lec_name.results }}</span>
                        </div>
                        <div class="col-2" style="text-align: right; padding-right: 30px;">
                            <img class="image" src="{% static 'unlike.png' %}" style="width: 45px; height: 45px; :overflow: visible;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11 lecture_text" style="padding-left:2rem; margin-top:27px;">
                            {{ lec_name.lectureteacher.teacher.teacher_name }} 선생님|총 {{ lec_name.lecture_totalnum }}강|수강기간 {% if post.lecture_day == None %} 0 {% else %} {{ lec_name.lecture_day }} {% endif %}일</div>
                    </div>
                    <div class="row" style="justify-content: flex-end; margin-top: 15px;">
                        <div class="col-9"></div>
                        <div class="col-3" style="text-align:right; margin-right: 30px; padding:0;"><span class="lecture_price" style="text-align: right;">{{ lec_name.lecture_price }}원</span></div>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    {% endfor %}
    <!---------------------------------------------------endfor -------------------------------------------------------------->
    <!-- end container -->
    </div>


{% endblock content %}
<!-- script -->
<!-- change lecture_box to change lecture_box_liked -->


