{% extends 'base_sh.html' %}
{% load staticfiles %}

{% block styles %}

    <style>
    html {
        position: relative;
        min-height: 100vh;
    }
    .row {
        justify-content: center;
        margin: 1rem 0;
        flex-wrap: 1;
    }
    .col > span {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .row > .col-2 {
        padding: 0 1rem;
    }
    .round > span {
        width: 100%;
        height: 2.813rem;
        border-radius: 1.375rem;
        font-size: 1.2rem;
        border: solid 0.125rem lightgray;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: dimgray;
        white-space: nowrap;
    }
    .grade_title {
        width: 2.250rem;
        height: 1.813rem;
        font-size: 1.188rem;    /* 20px */
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: -0.075rem;
        text-align: center;
        color: #1f95ff;
        border-style: none;
    }
    .grade_text {
        width: 7.250rem;
        height: 1.5rem;
        font-size: 0.875rem;    /* 16px */
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.060rem;
        text-align: center;
        color: #323232;
        border-style: none;
    }
    .container {
        justify-content: center;
    }
    .banner {
        width: 100%;
        object-fit: fill;
    }
    .carousel > img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* main */
    .content_box {
        width: 100%;
        margin-top:3rem;
        margin-bottom:5rem;
        box-shadow: 10px 10px 30px 0 rgba(206, 206, 206, 0.52);
        background-color: #ffffff;
        object-fit: cover;
    }
    .content_box_title {
        width: 100%;
        height: 13.375rem;
        border-radius: 0.375rem 0;
        background-color: #dbf1ff;
        justify-content: center;
        object-fit: fill;
        overflow: hidden;
    }
    .content_best {
        width: 5.5rem;
        height: 5.5rem;
        justify-content: center;
        object-fit: contain;
    }
    .content_box_text {
        width: 23.563rem;
        height: 3.483rem;
        font-size: 1.938rem;    /* 37px */
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.49;
        letter-spacing: -60;
        color: #1f95ff;
    }
    .question {
        height: 2.813rem;
        font-size: 1.688rem;   /* 30px */
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.113rem;
        color: #323232;
        display: flex;
        justify-content:center;
        white-space: nowrap;
    }
    .keywordbox {
        width: 10rem;
        height: 2.813rem;
        object-fit: contain;
        border-radius: 22px;
        border: solid 2px #cecece;
        background-color: #ffffff;
    }
    .field {
        height: 2.313rem;
        font-size: 1.5rem;   /* 25px */
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.48;
        letter-spacing: -0.094rem;
        text-align: left;
        color: #6e6e6e;
        white-space: nowrap;
    }
    /* 학업수준 */
    label {
        margin: 0;
        cursor: pointer;
    }
    input[type=checkbox] {
        display:none; 
    }
    .beginner { 
        width: 3.750rem;
        height: 3.750rem ;
        object-fit: cover;
        border-radius: 6px;
        border: solid 2px #1f95ff;
    }
    .middle_class {
        width: 3.750rem;
        height: 3.750rem;
        object-fit: cover;
        border-radius: 0.375rem;
    }
    .master {
        width: 3.750rem;
        height: 3.750rem;
        object-fit: cover;
        border-radius: 0.375rem;
    }
    .grade_bar_box {
        width: 57.500rem;
        height: 0.938rem;
        border-radius: 0.375rem;
        background-color: #acacac;
    }
    .grade_bar {
        width: 10%;
        height: 1.25rem;
        border-radius: 0.375rem;
        background-color: #1f95ff;
    }
    .price_range_box {
        width: 100%;
        height: 0.938rem;
        border-radius: 0.375rem;
        background-color: #acacac;
    }
    input[type=range].price_range {
        -webkit-appearance: none;
        width: 100%;
        height: 0.938rem;
        border-radius: 0.375rem;
        background-color: #acacac;
    }
    input[type=range].price_range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 1.563rem;
        background-image: url("{% static 'img/check.png' %}") ;
        background-color: #1f95ff;
    }
    .price {
        width: 6.75rem;
        height:1.813rem;
        font-size: 1.25rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        color: #1f95ff;
    }
    .won {
        width: 1.25rem;
        height: 1.813rem;
        font-size: 1.25rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        color: #1f95ff;
        /* alignment */
        display: flex;
    }
    .prices_range > p {
        display: flex;
        justify-content: space-between;
    }
    ._0won {
        width: 6.75rem;
        height: 1.813rem;
        font-size: 1.25rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: -0.038rem;
        text-align: center;
        color: #1f95ff;
        /* alignment */
        display: flex;
    }
    ._1000000won {
        width: 6.75rem;
        height: 1.813rem;
        font-size: 1.25rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: -0.038rem;
        text-align: center;
        color: #1f95ff;
        display: flex;
    }
    /* 제출 */
    .submit_button {
        width: 21.88rem;
        height: 4.563rem;
        object-fit: contain;
        border-radius: 0.375rem;
        background-color:#1f95ff;
        font-size: 1.75rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.46;
        letter-spacing: -0.105rem;
        text-align: center;
        color: #ffffff;
    }
    hr{
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }
    </style>

{% endblock styles %}
{% block content %}

<section>
    <!-- banner -->
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'img/main_banner.png' %}" alt="main banner">
                </div>
                <div class="carousel-item">
                    <a href="{% url 'hackathon_event'%} "> 
                        <img class="d-block w-100" src="{% static 'img/hackathon_banner.png' %}" alt="hackathon event">
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <div class="carousel-control-prev-icon" aria-hidden="true"></div>
                <div class="sr-only">Previous</div>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <div class="carousel-control-next-icon" aria-hidden="true"></div>
                <div class="sr-only">Next</div>
            </a>
            </div>
        </div>
    </div>
</div>
<!-- main -->
<div class="container">
<form method="GET" action="{% url 'result' %}">
    {% csrf_token %}
    <div class="content_box">
            <div class="content_box_title">
                <div class="row no-gutter" style="margin-top:1.6rem; margin-bottom:0">
                    <div class="col-5"></div>
                    <div class="col-2" style="text-align:center;"><img src="{% static 'img/best.png' %}" class="content_best" alt="best"></div>
                    <div class="col-5"></div>  
                </div>
                <div class="row no-gutter" style="margin-top:0; margin-bottom:1.6rem">
                    <div class="col-4"></div>
                    <div class="col-4" style="text-align:center;"><div class="row content_box_text">나의 BEST 인터넷 강의는?</div></div>
                    <div class="col-4"></div>
                </div>
            </div>
    <div class="row no-gutter">
        <div class="col-4"></div>
        <div class="col-4">
        <!-- 강의 분야 -->
            <div class="question" style="margin-top:4rem">원하는 강의 분야를 선택하세요</div>
        </div>
        <div class="col-4"></div>
    </div>
        <div class="row no-gutter">
            <div class="col-1"></div>
            <div class="col-1">
                <div class="field">어학</div>
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="0" value="TOEIC" onClick="subject_bgColor(this);"><label for="0">TOEIC</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="1" value="TOFEL" onClick="subject_bgColor(this);"><label for="1">TOFEL</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="2" value="TEPS" onClick="subject_bgColor(this);"><label for="2">TEPS</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="3" value="Toeic Speaking" onClick="subject_bgColor(this);"><label for="3">Toeic Speaking</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="4" value="OPIC" onClick="subject_bgColor(this);"><label for="4">OPIC</label></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="5" value="IELTS" onClick="subject_bgColor(this);"><label for="5">IELTS</label></span>       
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="6" value="JPT" onClick="subject_bgColor(this);"><label for="6">JPT</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="7" value="JLPT" onClick="subject_bgColor(this);"><label for="7">JLPT</label></span>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-1">
                <div class="field">수능</div>
            </div>
            <div class="col-10"></div>
        </div>
            <div class="row">
                <div class="col-2 round">
                    <span><input type="checkbox" name="subject" id="8" value="국어" onClick="subject_bgColor(this);"><label for="8">국어</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="9" value="영어" onClick="subject_bgColor(this);"><label for="9">영어</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="10" value="수학" onClick="subject_bgColor(this);"><label for="10">수학</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="11" value="한국사" onClick="subject_bgColor(this);"><label for="11">한국사</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="12" value="제2외국어" onClick="subject_bgColor(this);"><label for="12">제2외국어</label></span>
                </div>
            </div>
            <div class="row justify-content-center">
            <div class="col-2 round">
               <span><input type="checkbox" name="subject" id="13" value="사탐" onClick="subject_bgColor(this);"><label for="13">사탐</label></span>
            </div>
            <div class="col-2 round">
               <span><input type="checkbox" name="subject" id="14" value="과탐" onClick="subject_bgColor(this);"><label for="14">과탐</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="subject" id="15" value="기타" onClick="subject_bgColor(this);"><label for="15">기타</label></span>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
        </div>
            <div class="row justify-content-center">
                <div class="col-1"></div>
                <div class="col-1">
                    <div class="field">공무원</div>
                </div>
                <div class="col-10"></div>
            </div>
            <div class="row no-gutter justify-content-center">
                <div class="col-1">
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="16" value="9급" onClick="subject_bgColor(this);"><label for="16">9급</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="17" value="7급" onClick="subject_bgColor(this);"><label for="17">7급</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="18" value="5급" onClick="subject_bgColor(this);"><label for="18">5급</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="19" value="군무원" onClick="subject_bgColor(this);"><label for="19">군무원</label></span>
                </div>
                <div class="col-2 round">
                    <span><input type="checkbox" name="subject" id="20" value="경찰공무원" onClick="subject_bgColor(this);"><label for="20">경찰공무원</label></span>
                </div>
                <div class="col-1">
                </div>
            </div>            
            <div class="row justify-content-center">
                <div class="col-1">
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="21" value="소방공무원" onClick="subject_bgColor(this);"><label for="21">소방공무원</label></span>
                </div>
                <div class="col-2 round">
                   <span><input type="checkbox" name="subject" id="22" value="기타" onClick="subject_bgColor(this);"><label for="22">기타</label></span>
                </div>
                <div class="col-2">
                </div>
                <div class="col-2">
                </div>     
                <div class="col-2">
                </div>     
                <div class="col-1">
                </div>    
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <hr>
                </div>
                <div class="col-1"></div>
            </div>
            <script type="text/javascript">
                function subject_bgColor(obj){
                    var x = document.getElementsByTagName("span");
                    if(x[obj.id].style.backgroundColor == "dodgerblue"){
                        x[obj.id].style.backgroundColor = "white";
                        x[obj.id].style.border = "solid 0.125rem lightgray";
                        x[obj.id].style.color = "dimgray";
                    }
                    else{
                        x[obj.id].style.backgroundColor = "dodgerblue";
                        x[obj.id].style.border = "dodgerblue";
                        x[obj.id].style.color = "white";
                    }
                }
            </script>
        <!-- 학업 수준 -->
        <div class="row justify-content-center">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="question">본인의 학업수준을 선택하세요</div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center" style="text-align:center; margin-bottom:0.5rem">
            <div class="col-1"></div>
            <div class="col-2">
                <input type="checkbox" name="grade" id="beginner" value="초보" onclick="imageChange()" unchecked>
                <label for="beginner">
                    <img src="{% static 'img/beginner.png' %}" id="beginner_img">
                </label>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                <input type="checkbox" name="grade" id="middle_class" value="보통" onclick="imageChange()" imageChange() unchecked>
                <label for="middle_class">
                    <img src="{% static 'img/middle_class.png' %}" id="middle_class_img">
                </label>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                <input type="checkbox" name="grade" id="master" value="고수" onclick="imageChange()" unchecked>
                <label for="master">
                    <img src="{% static 'img/master.png' %}" id="master_img">
                </lable>
            </div>
            <div class="col-1"></div>
        </div>
        <script>
            function imageChange(){
                if(document.getElementById("beginner").checked==true){
                    document.getElementById("beginner_img").src="{% static 'img/beginner_click.png' %}";
                }
                else if(document.getElementById("beginner").checked==false){
                    document.getElementById("beginner_img").src="{% static 'img/beginner.png' %}";
                }
                if(document.getElementById("middle_class").checked==true){
                    document.getElementById("middle_class_img").src="{% static 'img/middle_class_click.png' %}";
                }
                else if(document.getElementById("middle_class").checked==false){
                    document.getElementById("middle_class_img").src="{% static 'img/middle_class.png' %}";
                }
                if(document.getElementById("master").checked==true){
                    document.getElementById("master_img").src="{% static 'img/master_click.png' %}";
                }
                else if(document.getElementById("master").checked==false){
                    document.getElementById("master_img").src="{% static 'img/master.png' %}";
                }
            }
            imageChange();
        </script>
        <div class="row justify-content-center" style="margin:0; text-align: center">
            <div class="col-1"></div>
            <div class="col-2 grade_title">
                <div class="beginner_title" >초보</div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2 grade_title">
                <div class="middle_class_title">보통</div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2 grade_title">
                <div class="master_title">고수</div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row justify-content-center" style="margin:0; text-align: center">
            <div class="col-1"></div>
            <div class="col-2 grade_text">
                <div>이제 막 시작했어요</div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2 grade_text">
                <div>기본기를 다졌어요</div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2 grade_text">
                <div>고지가 멀지 않았어요</div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <hr>
            </div>
            <div class="col-1"></div>
        </div>
         <!-- 공부 스타일 -->
        <div class="row justify-content-center">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="question">선호하는 공부스타일을 선택하세요</div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="23" value="개념꼼꼼" onClick="lecture_char_bgColor(this);"><label for="23">개념꼼꼼</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="24" value="유형탄탄" onClick="lecture_char_bgColor(this);"><label for="24">유형탄탄</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="25" value="강화학습" onClick="lecture_char_bgColor(this);"><label for="25">강화학습</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="26" value="스토리텔링" onClick="lecture_char_bgColor(this);"><label for="26">스토리텔링</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="27" value="다양한 예시" onClick="lecture_char_bgColor(this);"><label for="27">다양한 예시</label></span>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="28" value="공부방향 제시" onClick="lecture_char_bgColor(this);"><label for="28">공부방향 제시</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="29" value="시험유형 콕콕" onClick="lecture_char_bgColor(this);"><label for="29">시험유형 콕콕</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="30" value="문제풀이" onClick="lecture_char_bgColor(this);"><label for="30">문제풀이</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="31" value="단기완성" onClick="lecture_char_bgColor(this);"><label for="31">단기완성</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="32" value="기출분석" onClick="lecture_char_bgColor(this);"><label for="32">기출분석</label></span>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2 round">
                <span><input type="checkbox" name="lecture_char" id="33" value="자료분석" onClick="lecture_char_bgColor(this);"><label for="33">자료분석</label></span>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <hr>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4"></div>
            <div class="col-4">
        <script type="text/javascript">
            function lecture_char_bgColor(obj){
                var x = document.getElementsByTagName("span");
                if(x[obj.id].style.backgroundColor == "dodgerblue"){
                    x[obj.id].style.backgroundColor = "white";
                    x[obj.id].style.border = "solid 0.125rem lightgray";
                    x[obj.id].style.color = "dimgray";
                }
                else{
                    x[obj.id].style.backgroundColor = "dodgerblue";
                    x[obj.id].style.border = "dodgerblue";
                    x[obj.id].style.color = "white";
                }
            }
        </script>
        <!-- 선생님 스타일 -->
            <div class="question">선호하는 선생님 스타일을 선택하세요</div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="34" value="조곤조곤" onClick="teacher_char_bgColor(this);"><label for="34">조곤조곤</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="35" value="열정형" onClick="teacher_char_bgColor(this);"><label for="35">열정형</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="36" value="집중형" onClick="teacher_char_bgColor(this);"><label for="36">집중형</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="37" value="동기부여형" onClick="teacher_char_bgColor(this);"><label for="37">동기부여형</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="38" value="유머형" onClick="teacher_char_bgColor(this);"><label for="38">유머형</label></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="39" value="판서형" onClick="teacher_char_bgColor(this);"><label for="39">판서형</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="40" value="팩트체크형" onClick="teacher_char_bgColor(this);"><label for="40">팩트체크형</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="41" value="꼼꼼형" onClick="teacher_char_bgColor(this);"><label for="41">꼼꼼형</label></span>
            </div>
            <div class="col-2 round">
                <span><input type="checkbox" name="teacher_char" id="42" value="질문형" onClick="teacher_char_bgColor(this);"><label for="42">질문형</label></span>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <hr>
            </div>
        </div>
        <script type="text/javascript">
            function teacher_char_bgColor(obj){
                var x = document.getElementsByTagName("span");
                if(x[obj.id].style.backgroundColor == "dodgerblue"){
                    x[obj.id].style.backgroundColor = "white";
                    x[obj.id].style.border = "solid 0.125rem lightgray";
                    x[obj.id].style.color = "dimgray";
                }
                else{
                    x[obj.id].style.backgroundColor = "dodgerblue";
                    x[obj.id].style.border = "dodgerblue";
                    x[obj.id].style.color = "white";
                }
            }
        </script>
        <div class="row justify-content-center">
            <div class="col-4"></div>
            <div class="col">
        <!-- 예상 가격대-->
                <div class="question">예상가격대를 선택하세요</div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="price-range-box">
                    <input type="range" name="price" step="1000" min="0" max="1000000" value="500000" class="price_range" oninput="document.getElementById('max_price').innerHTML=addComma(this.value)+'￦';">
                </div>
            </div>
        </div>
        <div class="row justify-content-space-between">
            <div class="col-2 _0won" id="min_price">0￦</div>
            <div class="col-6"></div>
            <div class="col-2 _1000000won" id="max_price" style="display:inline-block;text-align:right">500,000￦</div>
        </div>
        <script>
        function addComma(num) {
            var regexp = /\B(?=(\d{3})+(?!\d))/g;
            return num.toString().replace(regexp, ',');
        }
        </script>
        <!-- 나의 BEST강의 보러가기 -->
        <div class="row justify-content-center">
            <div class="col-4">
                <button type="submit" class="submit_button" onclick="selectChkBox()">나의 BEST강의 보러가기</button>
            </div>
        </div>
        <br><br>
    </div>
    </form>
</div>
</script>

<!---
     카카오톡 고객센터
    <img src="{% static 'img/kakaotalk.png' %}"
     class="kakaotalk" alt="kakaotalk">
--->
</section>

{% endblock %}